:root {
  --main-transition: all 250ms ease-in-out;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.bgImg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainImageCont {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  z-index: 1;
}

.slideout {
  animation: slideout 2s ease-in-out;
}

.slidein {
  animation: slidein 2s ease-in-out;
}

@keyframes slideout {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.shade {
  position: fixed;
  background-color: black;
  opacity: 0.7;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.mainCont {
  position: absolute;
  color: white;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -2px 2px 4px black;
  text-align: center;
}

.title {
  font-size: 40px;
}

.mainText {
  font-size: 25px;
}

.navbar {
  position: absolute;
  z-index: 3;
  font-size: 20px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - 10px);
  border-bottom: 1px solid black;
}
.navbar > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  white-space: nowrap;
}

.navLogo {
  height: 40px;
  margin: 15px 0 0 15px;
}

.navPages {
  justify-content: center;
}

.navSocials {
  justify-content: end;
  align-items: center;
}
.navSocials > li > a {
  display: flex;
}

.navPages > li {
  padding: 0 20px;
  font-size: 25px;
}

.pageLinkWhite {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: var(--main-transition);
}

.pageLinkWhite:after {
  display: block;
  content: '';
  border-bottom: solid 2px white;
  transform: scaleX(0);
  transition: var(--main-transition);
  transform-origin: 0% 50%;
}
.pageLinkWhite:hover:after {
  transform: scaleX(1);
}

.pageLinkBlack {
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: var(--main-transition);
}

.pageLinkBlack:after {
  display: block;
  content: '';
  border-bottom: solid 2px black;
  transform: scaleX(0);
  transition: var(--main-transition);
  transform-origin: 0% 50%;
}
.pageLinkBlack:hover:after {
  transform: scaleX(1);
}

.navSocials > li {
  padding: 0 20px;
}

.space {
  flex-grow: 1;
  flex-basis: 0;
}

section {
  position: relative;
  top: 87px;
}

.adopt {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.dogsCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dogCont {
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px 0;
  width: 440px;
  overflow: hidden;
  box-shadow: -3px 4px 5px black;
  transition: var(--main-transition);
  cursor: pointer;
  align-self: flex-start;
}

.dogCont:hover {
  box-shadow: -8px 9px 10px black;
  transform: translate(5px, -5px);
  color: white;
  background-color: black;
}

.dogContShow {
  height: 385px;
}

.dogPicCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}

.dogName {
  margin: 0;
  text-align: center;
  font-size: 20px;
  height: 0;
  transition: var(--main-transition);
}

.dogNameShow {
  height: 27px;
  margin: 5px 0;
}

.dogPic {
  height: 320px;
  object-fit: cover;
}

.dogInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 0;
  transition: var(--main-transition);
}

.dogInfoShow {
  margin: 2px 0 5px 0;
  height: 20px;
}

.dogInfo > p {
  margin: 0;
}

.adoptTextCont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  width: 800px;
  margin: 0 auto;
  flex-direction: column;
}

.adoptText {
  font-size: 20px;
  width: 700px;
  text-align: center;
}

.contactInfo {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: row;
}
.contactInfo > a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactInfo > a > svg {
  font-size: 20px;
  margin-right: 5px;
}

.contacts {
  color: black;
  transition: var(--main-transition);
}
.contacts:hover {
  color: slateblue;
}

.navContactsWhite {
  color: white;
}

.navContactsBlack {
  color: black;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  height: calc(100vh - 88px);
  overflow: hidden;
}

.aboutTitle {
  text-align: center;
  font-size: 27px;
  margin: 50px 0 20px 0;
}

.aboutDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 70%;
  font-size: 20px;
  text-align: center;
}

.teamCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0 0 0;
  flex-wrap: wrap;
  margin: 50px 0 20px 0;
  z-index: 1;
  color: white;
  text-shadow: -1px 1px 2px black;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.teammateImg {
  border-radius: 100%;
  background-color: white;
  height: 200px;
  width: 200px;
  object-fit: cover;
  box-shadow: -1px 2px 3px black;
}

.teammateName {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
  background-color: slateblue;
  z-index: 0;
}

.curve:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: slateblue;
  transform: translate(86%, -49%);
  z-index: -1;
}

.curve:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(-9%, -52%);
  background-color: white;
  z-index: -1;
}
